body {
  margin: 0;
}

#map {
  height: 100vh;
}

#top-bar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}

.icon-dev {
  background: none;
  font-size: 20px;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.6);
}
